n8n-templates.json
{
  "templates": {
    "basic-scraping-workflow": {
      "name": "Datadog Scraper - Basic Trigger",
      "description": "Trigger Datadog documentation scraping via webhook",
      "workflow": {
        "nodes": [
          {
            "parameters": {
              "httpMethod": "POST",
              "path": "datadog-scraper",
              "responseMode": "responseNode",
              "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook Trigger",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [240, 300],
            "webhookId": "datadog-scraper-webhook"
          },
          {
            "parameters": {
              "method": "POST",
              "url": "={{ $env.SCRAPER_URL || 'http://localhost:8000' }}/webhook",
              "bodyParameters": {
                "action": "start_scraping"
              },
              "options": {}
            },
            "id": "start-scraping",
            "name": "Start Scraping",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [460, 300]
          },
          {
            "parameters": {
              "values": {
                "string": [
                  {
                    "name": "message",
                    "value": "🚀 Scraping started for Datadog documentation"
                  }
                ]
              }
            },
            "id": "success-message",
            "name": "Success Message",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.3,
            "position": [680, 300]
          }
        ],
        "connections": {
          "Webhook Trigger": {
            "main": [
              [
                {
                  "node": "Start Scraping",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Start Scraping": {
            "main": [
              [
                {
                  "node": "Success Message",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          }
        }
      }
    },

    "scheduled-scraping-workflow": {
      "name": "Datadog Scraper - Scheduled",
      "description": "Automatically scrape Datadog docs on a schedule",
      "workflow": {
        "nodes": [
          {
            "parameters": {
              "rule": "cron",
              "cronExpression": "0 9 * * 1"
            },
            "id": "schedule-trigger",
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [240, 300]
          },
          {
            "parameters": {
              "method": "POST",
              "url": "={{ $env.SCRAPER_URL || 'http://localhost:8000' }}/scrape",
              "bodyParameters": {
                "max_depth": "={{ $env.MAX_DEPTH || 2 }}",
                "delay": "={{ $env.DELAY || 0.5 }}",
                "save_results": true
              },
              "options": {}
            },
            "id": "start-scraping",
            "name": "Start Scraping",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [460, 300]
          },
          {
            "parameters": {
              "method": "GET",
              "url": "={{ $env.SCRAPER_URL || 'http://localhost:8000' }}/status",
              "options": {}
            },
            "id": "check-status",
            "name": "Check Status",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [680, 300]
          },
          {
            "parameters": {
              "values": {
                "string": [
                  {
                    "name": "message",
                    "value": "📊 Weekly scraping completed - Status: {{ $json.is_scraping ? 'In Progress' : 'Completed' }}"
                  }
                ]
              }
            },
            "id": "completion-message",
            "name": "Completion Message",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.3,
            "position": [900, 300]
          }
        ],
        "connections": {
          "Schedule Trigger": {
            "main": [
              [
                {
                  "node": "Start Scraping",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Start Scraping": {
            "main": [
              [
                {
                  "node": "Check Status",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Check Status": {
            "main": [
              [
                {
                  "node": "Completion Message",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          }
        }
      }
    },

    "results-processing-workflow": {
      "name": "Datadog Scraper - Process Results",
      "description": "Process scraping results and send notifications",
      "workflow": {
        "nodes": [
          {
            "parameters": {
              "httpMethod": "POST",
              "path": "process-results",
              "responseMode": "responseNode",
              "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook Trigger",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [240, 300],
            "webhookId": "process-results-webhook"
          },
          {
            "parameters": {
              "method": "POST",
              "url": "={{ $env.SCRAPER_URL || 'http://localhost:8000' }}/webhook",
              "bodyParameters": {
                "action": "get_results"
              },
              "options": {}
            },
            "id": "get-results",
            "name": "Get Results",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [460, 300]
          },
          {
            "parameters": {
              "operation": "formatNumber",
              "value": "={{ $json.total_links }}",
              "format": "0,0"
            },
            "id": "format-number",
            "name": "Format Number",
            "type": "n8n-nodes-base.functionItem",
            "typeVersion": 1,
            "position": [680, 300]
          },
          {
            "parameters": {
              "values": {
                "string": [
                  {
                    "name": "summary",
                    "value": "📊 **Scraping Results Summary**\\n\\n• **Total Links:** {{ $node[\"Format Number\"].json[\"value\"] }}\\n• **Scraping Time:** {{ $json.scraping_time }}s\\n• **Timestamp:** {{ $json.timestamp }}\\n• **Base URL:** {{ $json.base_url }}"
                  }
                ]
              }
            },
            "id": "create-summary",
            "name": "Create Summary",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.3,
            "position": [900, 300]
          },
          {
            "parameters": {
              "webhookUrl": "={{ $env.SLACK_WEBHOOK_URL }}",
              "text": "={{ $json.summary }}",
              "options": {}
            },
            "id": "send-slack",
            "name": "Send Slack Notification",
            "type": "n8n-nodes-base.slack",
            "typeVersion": 1,
            "position": [1120, 300]
          }
        ],
        "connections": {
          "Webhook Trigger": {
            "main": [
              [
                {
                  "node": "Get Results",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Get Results": {
            "main": [
              [
                {
                  "node": "Format Number",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Format Number": {
            "main": [
              [
                {
                  "node": "Create Summary",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Create Summary": {
            "main": [
              [
                {
                  "node": "Send Slack Notification",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          }
        }
      }
    },

    "complete-automation-workflow": {
      "name": "Datadog Scraper - Complete Automation",
      "description": "Complete workflow with scraping, processing, and notifications",
      "workflow": {
        "nodes": [
          {
            "parameters": {
              "httpMethod": "POST",
              "path": "complete-automation",
              "responseMode": "responseNode",
              "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook Trigger",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [240, 300],
            "webhookId": "complete-automation-webhook"
          },
          {
            "parameters": {
              "method": "POST",
              "url": "={{ $env.SCRAPER_URL || 'http://localhost:8000' }}/scrape",
              "bodyParameters": {
                "max_depth": "={{ $env.MAX_DEPTH || 2 }}",
                "delay": "={{ $env.DELAY || 0.5 }}",
                "save_results": true
              },
              "options": {}
            },
            "id": "start-scraping",
            "name": "Start Scraping",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [460, 300]
          },
          {
            "parameters": {
              "method": "GET",
              "url": "={{ $env.SCRAPER_URL || 'http://localhost:8000' }}/status",
              "options": {}
            },
            "id": "wait-for-completion",
            "name": "Wait for Completion",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [680, 300]
          },
          {
            "parameters": {
              "method": "GET",
              "url": "={{ $env.SCRAPER_URL || 'http://localhost:8000' }}/results",
              "options": {}
            },
            "id": "get-results",
            "name": "Get Results",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [900, 300]
          },
          {
            "parameters": {
              "values": {
                "string": [
                  {
                    "name": "report",
                    "value": "📊 **Automated Scraping Report**\\n\\n✅ **Scraping completed successfully!**\\n\\n📈 **Statistics:**\\n• Links found: {{ $json.total_links }}\\n• Scraping time: {{ $json.scraping_time }}s\\n• Max depth: {{ $json.max_depth }}\\n\\n🔗 **Sample URLs:**\\n{{ $json.links | slice:0:5 | join:'\\n' }}\\n\\n⏰ **Completed at:** {{ $json.timestamp }}"
                  }
                ]
              }
            },
            "id": "create-report",
            "name": "Create Report",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.3,
            "position": [1120, 300]
          },
          {
            "parameters": {
              "webhookUrl": "={{ $env.SLACK_WEBHOOK_URL }}",
              "text": "={{ $json.report }}",
              "options": {}
            },
            "id": "send-notification",
            "name": "Send Notification",
            "type": "n8n-nodes-base.slack",
            "typeVersion": 1,
            "position": [1340, 300]
          }
        ],
        "connections": {
          "Webhook Trigger": {
            "main": [
              [
                {
                  "node": "Start Scraping",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Start Scraping": {
            "main": [
              [
                {
                  "node": "Wait for Completion",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Wait for Completion": {
            "main": [
              [
                {
                  "node": "Get Results",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Get Results": {
            "main": [
              [
                {
                  "node": "Create Report",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Create Report": {
            "main": [
              [
                {
                  "node": "Send Notification",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          }
        }
      }
    },

    "docker-integration-workflow": {
      "name": "Datadog Scraper - Docker Integration",
      "description": "Workflow optimized for Docker deployment",
      "workflow": {
        "nodes": [
          {
            "parameters": {
              "rule": "cron",
              "cronExpression": "0 2 * * 0"
            },
            "id": "schedule-trigger",
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [240, 300]
          },
          {
            "parameters": {
              "method": "POST",
              "url": "http://datadog-scraper:8000/scrape",
              "bodyParameters": {
                "max_depth": 2,
                "delay": 1.0,
                "save_results": true
              },
              "options": {}
            },
            "id": "start-scraping",
            "name": "Start Scraping",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [460, 300]
          },
          {
            "parameters": {
              "method": "GET",
              "url": "http://datadog-scraper:8000/health",
              "options": {}
            },
            "id": "check-health",
            "name": "Check Health",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [680, 300]
          },
          {
            "parameters": {
              "values": {
                "string": [
                  {
                    "name": "status_message",
                    "value": "🔍 **Docker Scraping Status**\\n\\nHealth: {{ $json.status | upper }} \\nScraping: {{ $json.is_scraping ? 'In Progress' : 'Idle' }}\\nLast scraped: {{ $json.last_scraped || 'Never' }}"
                  }
                ]
              }
            },
            "id": "create-status",
            "name": "Create Status",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.3,
            "position": [900, 300]
          }
        ],
        "connections": {
          "Schedule Trigger": {
            "main": [
              [
                {
                  "node": "Start Scraping",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Start Scraping": {
            "main": [
              [
                {
                  "node": "Check Health",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Check Health": {
            "main": [
              [
                {
                  "node": "Create Status",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          }
        }
      }
    }
  },

  "environment_variables": {
    "SCRAPER_URL": "http://localhost:8000",
    "MAX_DEPTH": "2",
    "DELAY": "0.5",
    "SLACK_WEBHOOK_URL": "https://hooks.slack.com/services/YOUR/SLACK/WEBHOOK"
  },

  "instructions": {
    "import_steps": [
      "1. Open n8n and go to the workflow canvas",
      "2. Click the menu (≡) and select 'Import from File'",
      "3. Choose the workflow JSON you want to import",
      "4. Update the SCRAPER_URL environment variable to match your scraper service URL",
      "5. Configure any notification webhooks (Slack, Discord, etc.)",
      "6. Test the workflow by triggering it manually",
      "7. Activate the workflow for automated execution"
    ],

    "environment_setup": [
      "Set SCRAPER_URL to your scraper service URL (e.g., http://localhost:8000)",
      "Configure MAX_DEPTH for scraping depth (1-3 recommended)",
      "Set DELAY for respectful scraping (0.5-2.0 seconds)",
      "Add SLACK_WEBHOOK_URL for notifications (optional)"
    ],

    "testing": [
      "1. Start your scraper service",
      "2. Import and activate the workflow in n8n",
      "3. Trigger the workflow manually to test",
      "4. Check execution logs in n8n",
      "5. Verify results in scraper output files"
    ]
  }
}
