n8n-workflows/results-processing-workflow.json
{
  "name": "datadog-scraper-results-processor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-results",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "process-results-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SCRAPER_URL || 'http://localhost:8000' }}/webhook",
        "bodyParameters": {
          "action": "get_results"
        },
        "options": {}
      },
      "id": "get-results",
      "name": "Get Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "summary",
              "value": "📊 **Scraping Results Summary**\\n\\n• **Total Links:** {{ $json.total_links }}\\n• **Scraping Time:** {{ $json.scraping_time }}s\\n• **Timestamp:** {{ $json.timestamp }}"
            }
          ]
        }
      },
      "id": "create-summary",
      "name": "Create Summary",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "webhookUrl": "={{ $env.SLACK_WEBHOOK_URL }}",
        "text": "={{ $json.summary }}",
        "options": {}
      },
      "id": "send-slack",
      "name": "Send Slack Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Get Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Results": {
      "main": [
        [
          {
            "node": "Create Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Summary": {
      "main": [
        [
          {
            "node": "Send Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  }
}
